.library-song {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  img {
    max-width: 35%;
    width: 35%;
    border-radius: 50%;
    margin-right: 0.8rem;
    transition: all 0.5s ease;
  }
  &:hover {
    background-color: rgb(203, 255, 238);
  }
  &:hover img {
    transform: rotateZ(-15deg);
  }
}
.song-description {
  h3 {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    font-weight: 700;
    font-style: italic;
  }
  h4 {
    font-size: 0.8rem;
    font-weight: 400;
    color: gray;
  }
}
.selected {
  background: rgb(164, 255, 225);
}
