nav {
  h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
  }
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .buttons {
    display: flex;
  }
  button {
    background: transparent;
    cursor: pointer;
    border: 2ps solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
  .darkmode {
    margin-right: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    svg {
      fill: #fbc02d;
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
