nav {
  .logo {
    display: flex;
    img {
      width: 40px;
      margin-right: 5px;
    }
    h1 {
      font-weight: bold;
      font-style: italic;
      font-size: 2rem;
    }
  }

  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  .buttons {
    display: flex;
    align-items: center;
  }
  button {
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    border: 1px solid rgb(107, 107, 107);
    padding: 0.5rem;
    transition: all 0.3s ease;
    .library-icon {
      margin-left: 5px;
    }
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
  .darkmode {
    margin-right: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    svg {
      fill: #fbc02d;
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
    .logo {
      h1 {
        display: none;
      }
    }
  }
}
